<!DOCTYPE html>
<html>
<head>
<title>Mahmoud Rabee-YAT 237</title>
</head>
<body>

<h1>This template for test ansible and apache in roles </h1>
<p>My name is {{ ansible_facts.hostname }} the listening port is {{ http_port }}</p>

</body>
</html>